<div class="w-screen h-screen flex justify-center items-center">
  <div class="content-center">
    <div>
      <form class="flex flex-col bg-slate-600 p-5 rounded-lg">
        <input
          class="mt-2 py-2 rounded"
          type="number"
          [(ngModel)]="numb1"
          name="numb1"
          placeholder="Ingrese el primer número"
        />
        <input
          class="mt-2 py-2 rounded"
          type="number"
          [(ngModel)]="numb2"
          name="numb2"
          placeholder="Ingrese el segundo número"
        />
        <select class="py-2 mt-2 rounded" [(ngModel)]="selectedOption">
          <option *ngFor="let option of options">
            {{ option.name }}
          </option>
        </select>
        <button
          class="bg-blue-800 text-white mt-2 py-1 rounded"
          (click)="calcular(selectedOption)"
        >
          Calcular
        </button>
      </form>

      <p>Resultado: {{ operationResult }}</p>
    </div>
  </div>
</div>
